ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

li.employee-list-item {
  margin-bottom: 10px;
}

.active-beer {
  font-style: bolder;
  font-size: 1.2rem;
  color: red;
}

.add-a-keg {
  display: flex;
  justify-content: center;
}

.none-left {
  text-decoration: line-through;
}

.warning {
  color: red;
}

button {
  margin: 0 5px;
}

.user-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin: 20px auto;
  border: 1px solid black;
  padding: 20px;
  background-color: red;
}

.user-search div {
  margin: 5px 0;
}
