<div class="user-search" *ngIf="!employeeView">
  <div class="salutation">
    <h4>Hey there haven't seen you around here before what can I getcha?</h4>
  </div>
  <div class="filtering">
    <label><h5>Pick a beer style: </h5></label>
    <select (change)="onChange($event.target.value)">
      <option selected value="all">Lemme see em all</option>
      <option *ngFor="let style of allStyles" value="{{style}}">{{style}}</option>
    </select>
  </div>
</div>

<div class="header">
  <h3>What's On Tap</h3>
</div>

<div class="keg-list">
  <div class="add-a-keg" *ngIf="employeeView">
    <button (click)="newKeg = true" type="button" class="button btn btn-primary btn-sm">
      Add a new keg
    </button>
  </div>
  <ul>
    <li *ngFor="let keg of inventory | styleFilter:selectedStyle" [class.employee-list-item]="employeeView">
      <a [class.none-left]="keg.pintsLeft == 0"
      [class.active-beer]="keg.name === activeName" [class.warning]="keg.pintsLeft <= 10 && employeeView" href="#" (click)="selectedKeg = keg; activeName = keg.name">
        {{keg.name}}
      </a><br>
      <button *ngIf="employeeView && keg.pintsLeft > 0" (click)="sellAPint(keg)" type="button" class="button btn btn-sm btn-info">
        Sold a pint
      </button>
      <button *ngIf="employeeView" (click)="keg.pintsLeft = 124" type="button" class="button btn btn-sm btn-success">
        Restock
      </button>
      <button *ngIf="employeeView" (click)="editKeg = keg; selectedKeg = keg" type="button" class="button btn btn-sm btn-warning">
        Edit info
      </button>
      <button *ngIf="employeeView" (click)="deleteThisKeg(keg)" type="button" class="button btn btn-sm btn-danger">
        Delete
      </button>
    </li>
  </ul>
</div>

<edit-keg *ngIf="editKeg" [keg]="editKeg" (editFinished)="editKeg = null"></edit-keg>
<add-keg *ngIf="newKeg" (addFinished)="addKeg($event)"></add-keg>
<detail-display [kegToShow]="selectedKeg"></detail-display>
